@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

:root {
    --measure: 60ch;
    --theme-color: #60d1d9;
    --light-font-color: #ffffff;
    --dark-font-color: #363636;
    --light-grey: #eeeeee;
    --font-size: 1rem;
    --light: 300;
    --medium: 500;
    --regular: 400;
    --bold: 500;
    --font-size-big: 1.25rem;
    --spacing-margin-padding : 0.75rem;
    --space: 1.5rem;
    color: var(--dark-font-color);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--light-grey);
}


.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--space);
}

.center {
    box-sizing: content-box;
    padding:1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--measure);
}

.c-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0;
    padding: 2rem;
}

.c-h1, h1 {
    text-align: center;
    font-weight: var(--light);
}

h2 {
  text-align: center;
  font-weight: var(--light);
}

.welcome{
  margin-bottom:5rem;
}

.buttons {
    text-align: center;
}

.c-question, p, ol{
  text-align:center;
  font-weight: var(--light);
  line-height: 1.4rem;
}

ol{
    text-align: left;
}

.c-question {
    margin-bottom: var(--space);
}

.c-button {
    display:inline-block;
    background-color: none;
    color: var(--theme-color);
    text-align: center;
    border: 0.25rem solid var(--theme-color);
    border-radius:3.0rem;
    padding: 1.0rem 2.0rem;
    margin-right: var(--spacing-margin-padding);
    font-size: var(--font-size-big);
}

.c-button:focus, .c-button:hover {
    background-color: var(--theme-color);
    color: var(--light-font-color);
}

body{
  position:relative;
  min-height:100vh;
}

main{
  padding-bottom: 2.5rem;
}

.c-footer-menu {
    display: inline-block;
    width: 100%;
    justify-content: space-evenly;
    border-top: darkgrey;
    padding: 0 3rem;
    position:absolute;
    bottom:0;
    height:2.5rem;
}

.c-footer-menu__item {
    list-style:none;
    display: inline;
}

.c-form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 2em;
    width: 2em;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
}

a {
  text-decoration:none;
}

.c-header a {
  color: var(--dark-font-color);
}

}
