<footer class="center">
    <ul class="c-footer-menu">
        <li class="c-footer-menu__item">
            Datenschutz
        </li>
        <li class="c-footer-menu__item">
            Impressum
        </li>
        <li class="c-footer-menu__item">
            FAQ
        </li>
    </ul>


</footer>