<footer>
    <ul class="c-footer-menu">
        <li class="c-footer-menu__item">
          <LinkTo @route="datenschutz">Datenschutz</LinkTo>
        </li>
        <li class="c-footer-menu__item">
          <LinkTo @route="impressum">Impressum</LinkTo>
        </li>
        <li class="c-footer-menu__item">
          <LinkTo @route="faq">FAQ</LinkTo>
        </li>
    </ul>


</footer>