<h1>{{@frage}}</h1>
<LinkTo @route="frage" class="c-button" >Option 1</LinkTo> <LinkTo @route="frage" class="c-button" >Option 2</LinkTo> <LinkTo @route="frage" class="c-button" >Option 3</LinkTo>
{{yield}}
