<header class="c-header">
<span>
    <LinkTo @route="application"><img src="corona-logo.svg" height="25" alt="corona logo" role="none" class="logo"></LinkTo>
</span>

  <LinkTo @route="information"><i class="material-icons">information</i></LinkTo>

</header>
