<header class="c-header">
<span>
    <LinkTo @route="application"><img href="" alt="" role="none" class="logo">Corona Virus Selbstest</LinkTo>
</span>

<a href="" title="Informationen">i</a>

</header>