<header class="c-header">
<span>
    <LinkTo @route="application"><img href="" alt="" role="none" class="logo">Corona Virus Selbstest</LinkTo>
</span>

  <LinkTo @route="information"><i class="material-icons">information</i></LinkTo>

</header>
