<h1>Chatbot</h1>
<p>Das ist Ronni, unser Selbstdiagnose Chatbot. Schreibe "Hallo" und Ronni stellt dir alle Fragen. Sie hilft dir bei der Selbstdiagnose
und gibt Tipps, wie du dich weiter verhalten solltest. Ronni ist jedoch kein Arzt!</p>

<iframe
  title="Chatbot zum Corona Selbsttest"
  allow="microphone;"
  width="400"
  height="430"
  src="https://console.dialogflow.com/api-client/demo/embedded/a9c4fb6a-bcce-4aa0-8cd8-921571413008">
</iframe>
