<h1>Impressum</h1>

<h2>Wichtige Vorbemerkung</h2>

<p>Diese Webseite (website.domain) ist erst vor kurzem, am 22.03.2020, veröffentlicht worden. Wir, die Betreiber dieser Seite, möchten Sie mit diesem Impressum darüber informieren, wer hinter diesem Angebot steht.
Diese Seite wurde von einem Team veröffentlicht, das sich in einem sogenannten &quot;Hackathon&quot; gebildet hat. Wikipedia erklärt einen Hackathon wie folgt:
&quot;Ein Hackathon (Wortschöpfung aus „Hack&quot; und „Marathon&quot;) ist eine kollaborative Soft- und Hardwareentwicklungsveranstaltung. Alternative Bezeichnungen sind „Hack Day&quot;, „Hackfest&quot; und „codefest&quot;. Ziel eines Hackathons ist es, innerhalb der Dauer dieser Veranstaltung gemeinsam nützliche, kreative oder unterhaltsame Softwareprodukte herzustellen oder, allgemeiner, Lösungen für gegebene Probleme zu finden.&quot; (https://de.wikipedia.org/wiki/Hackathon)
Wir, das Team hinter <code>website.domain</code> haben uns mit unserem Beitrag  vorgenommen: <code>Kurzbeschreibung aus devpost</code>.
Der Hackathon, aus dem diese Seite hervorgegangen ist, ist der von <code>xy</code> veranstaltete Hackathon <code>xy</code>, über den Sie sich unter <code>website</code> informieren können.
<h3>Disclaimer</h3>: Zu einem Hackathon gehört, dass man sich als Team sehr kurzfristig zusammenfindet und dann, mit hohem Energieeinsatz und unter Zeitdruck Lösungen schafft, für die Softwareenwicklungs- und Projektteams sonst ein vielfaches der Zeit benötigen würden. In einer solchen Situation ist Perfektionismus weder gewünscht noch möglich. Wir bemühen uns dennoch, alle rechtlichen Anforderungen sinnvoll zu erfüllen und Ihnen die Möglichkeit zu geben, sich hier über den Anbieter dieses Dienstes zu informieren. Bitte haben Sie Verständnis dafür, dass es sich um einen Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den nächsten Tagen und Wochen genutzt werden kann. Soweit sich für diesen Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese das Impressum sofort auf den dann geltenden Stand bringen. Bis dahin gilt als Dienstanbieter dieses noch experimentellen Angebots:</p>

<h2>Diensteanbieter</h2>

<p>Max Muster
Im Nirgendwo 23
22222 Ersetzdas
Deutschland</p>

<h2>Kontaktmöglichkeiten</h2>

<p>E-Mail-Adresse: email@adresse.de
Telefon: Nummer</p>

<h2>Streitbeilegung vor einer Verbraucherschlichtungsstelle</h2>

<p>Angaben zur Teilnahme an der Verbraucherstreitschlichtung: Wir sind nicht bereit und nicht verpflichtet an einem Streitbeilegungsverfahren vor einer Verbraucherstreitschlichtungsstelle teilzunehmen.</p>

<h2>Social Media und andere Onlinepräsenzen</h2>

<p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:
https://facebook.com/beispiel
https://instagram.com/dieser_account
https://www.xing.com/profile/Musterprofil</p>

<h2>Haftungs- und Urheberrechtshinweise</h2>

<p><h3>Haftungsausschluss</h3>: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand im Rahmen des bereits oben beschriebenen Hackathon erstellt. Sie dienen allein der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte jederzeit vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen davon unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
<h3>Links auf fremde Webseiten</h3>: Inhalte fremder Webseiten, auf die wir verweisen, liegen außerhalb unseres Verantwortungsbereiches. Wir machen sie uns nicht zu Eigen. Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der Anbieter der verlinkten Webseiten.
<h3>Urheberrechte und Markenrechte</h3>: Alle auf dieser Website dargestellten Inhalte, insbesondere Texte, Fotos, Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw. Rechteverwalter.
<h3>Hinweise auf Rechtsverstöße</h3>: Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße feststellen, bitten wir Sie uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme unverzüglich entfernen.</p>
