<h1>Allgemeine Informationen und Hinweise zu Corona</h1>

<h2>Was ist Corona?</h2>

<p>Der neuartige Corona Virus (SARS-CoV-2) ist eine Viruserkrankung, die sich beim Menschen durch verschiedene Krankheitsformen feststellen lässt. Am häufigsten äußert sich das Virus durch gewöhnliche Erkältungssymptome (Husten, Fieber etc.). Es gibt aber auch Fälle, die keine Symptome aufweisen.
</p>

<img src="/assets/links_allgemeine_infos.png" width="100%">

<h2>Wie kann ich mich schützen?</h2>
<p>
Schützen Sie sich und Ihr Umfeld, in dem Sie sich an die Hygienevorschriften halten. Halten Sie zu anderen Menschen mindestens 2 Meter Abstand ein und vermeiden Sie unnötige Zusammentreffen größerer Menschenansammlungen.

Wir bitten Sie den Kontakt zu Mitmenschen weites gehend zu vermeiden und zu Hause zu bleiben. Bitte beachten Sie weiterhin die Hinweise des Robert-Koch-Instituts <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html">(Link)</a>, des Gesundheitsministeriums <a href="https://www.bundesgesundheitsministerium.de/coronavirus.html">(Link)</a>  und die Hinweise der Bundes-, Landes-, und Kommunalregierung.
</p>

<h2>Quarantäne/Isolation</h2>
<p>
Sollten Sie Krankheitserscheinungen haben (Husten, Halsschmerzen, Fieber etc.) bleiben Sie bitte zu Hause und vermeiden sie möglichst den Kontakt zu anderen Menschen. Wenn Sie 48 Stunden keine Krankeitsymptome mehr hatten und wenn seit Ihren ersten Symptomen mindestens 10 Tage vergangen sind, halten Sie bitte Rücksprache mit Ihrem Arzt, ob Sie die Isolation aufheben können.

Sollte sich Ihr Gesundheitszustand verschlechtern, kontaktieren Sie bitte umgehend Ihren Hausarzt.


Bitte beachten Sie, dass diese Informationen keinen ärztlichen Rat darstellen oder ersetzen.
</p>
